html {
  --background: #181717;
  --header: #175B5B;
  --textPrimary: #F2F3ED;
  --monoHeader: #218484;
  --lighterHeader: #5eaaaa;
  --secondaryBackground: #232323;
  --thirdBackground: #201E1E;
}


body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  letter-spacing: 1px;
  background-color: var(--background);
}

h1, h2, h3 {
  font-weight: 200;
  color: var(--textPrimary);
}

h4, h5, h6 {
  font-weight: 100;
  color: var(--textPrimary);
}

li, span, a, p, label {
  list-style: none;
  font-weight: lighter;
  color: var(--textPrimary);
}

.button-link {
  border-radius: 14px;
  box-shadow: rgba(222, 222, 222, 0.2) 0 1px 7px, rgba(201, 201, 201, 0.03) 0px 1px 4px;
  background-color: #218484;
  color: var(--textPrimary);
  border: none;
  font-weight: 200;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

button {
    color: var(--textPrimary);
    border: none;
    font-weight: 200;
    cursor: 'pointer';
    font-family: inherit;
}

input, select, textarea {
    color: var(--textPrimary);
    background: none;
    font-family: inherit;
    font-weight: 100;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 16px;
    border-radius: 12px;
    padding: 8px 12px;
}

/* select {
  padding: 8px 12px;
} */

input:focus {
  outline: none;
}

.fa-solid, .fa-regular {
    font-size: 1rem;
    color: var(--textPrimary)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  position: relative;
  top: 0;
  background-color: var(--header);
}




table{
  table-layout: fixed;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  /* max-width: 400px; */
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td{
  color: var(--textPrimary);
  font-weight: 300;
}

table thead tr{
  text-align: left;
  font-weight: bold;
}

table th, table td{
  padding: 12px 15px;
}

/* table tbody tr{
  border: 1px solid rgba(255, 255, 255, 0.4);
} */

/* table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
} */

/* table tbody tr:last-of-type{
  border: 1px solid rgba(255, 255, 255, 0.4);
} */

form div{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



