body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  letter-spacing: 1px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  position: sticky;
  top: 0;
  background-color: #ebe7e7;
}

/* button{
  font-family: "Outfit", sans-serif;
  cursor: pointer;
} */

button:not(.playerButton) {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:not(.playerButton):hover {
  background-color: rgb(249,250,251);
}

button:not(.playerButton)focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:not(.playerButton):focus-visible {
  box-shadow: none;
}



table{
  table-layout: fixed;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  /* max-width: 400px; */
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr{
  text-align: left;
  font-weight: bold;
}

table th, table td{
  padding: 12px 15px;
}

table tbody tr{
  border-bottom: 1px solid lightgray;
}

table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

table tbody tr:last-of-type{
  border-bottom: 2px solid lightgray;
}

form div{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input{
  border: none;
  appearance: none;
  background: #f2f2f2;
  outline: none;
}


select {
  /* border: 2px solid lightgray; */
  border: none;
}

input, select{
  transition: border-color 0.3s ease;
  padding: 7px;
  border-radius: 3px;
  margin-bottom: 12px;
}


input:focus, select:focus{
  border-color: #ccc6c6;
}



