.pagination{
    list-style: none;
}

.pagination li{
    display: inline;
    border: 2px solid lightgray;
}

.pagination li:hover{
    background-color: lightgray;
}

.pagination li a{
    text-decoration: none;
    color: unset;
    padding: 0 1rem;
}