.playerSlot{
    text-align: center;
    width: 120px;
    height: 270px;
    padding: 4px;
}

.playerSlot img{
    width: 70px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.playerSlot .playerName{
    height: 50px;
    overflow-y: auto;
}