.reportDialog{
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%; */
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}


.report{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 8px;
    text-align: center;
}

.info{
    width: 60%;
}

.info p{
    font-weight: 600;
    font-size: 1.4em;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    height: 70px;
    overflow: auto;
}

.info h6{
    font-weight: 300;
    font-size: 1.1em;
    margin-top: auto;
}

.actionsContainer{
    grid-column: 1 / -1;
    width: 100%;
}

.actions{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.close{
    position: absolute;
    top: 3px;
    right: 3px;
}


