.getPlayers{
    margin-top: 1rem;
}

.players{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    width: 100%;
    height: 400px;
    border: 1px solid lightgray;
    overflow-y: scroll;
    margin-top: 1rem;
}


.player{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    padding: 10px 0;
    gap: 4rem;
    height: 400px;
}

.playerHeader{
    /* position: sticky;
    top: 0; */
    background-color: rgb(235, 232, 232);
}

.imgHeader{
    width: 10%;
    height: 70px;
}


.player img{
    width: 10%;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.player p{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 2px;
    width: 20%;
    height: 40px;
}

.buttonHeader{
    width: 20%;
    height: 40px;  
}

.player button{
    width: 20%;
    height: 40px;
}

.showPlayerPage{
    text-align: center;
}