.transferTip{
    margin: auto;
    text-align: center;
    width: 50%;
    background-color: rgb(235, 232, 232);
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    padding: 20px;
}

.transferButtons{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    gap: 0.4rem
}

.transfer{
    display: flex;
    justify-content: center;
}


.budget{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 232, 232);
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 150px;
    font-size: 1.5em;
    font-weight: 500;
}

.budget span, .budget p{
    padding: 10px;
}

.budget p{
    text-transform: uppercase;
}

/* .budget span i{
    font-size: 1em;
} */


.team{
    width: 50%;
    display: flex;
    justify-content: center;
}

.filter{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


